body {
  font-family: "Sarabun", sans-serif;
  font-size: 14px;
}

#main {
  transition: margin-left 0.5s;
}

.btn-warning {
  background-color: #fa5600;
  border-color: #fa5600;
}

.overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.4s;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.bg-warning {
  background-color: #fa5600 !important;
}

.border-warning {
  border-color: #fa5600 !important;
}

.img-fix {
  img {
    max-height: 465.667px !important;
  }
}