<template>
  <Layout>
    <div class="page-home mt-4">
      <b-container class="bv-example-row bv-example-row-flex-cols">
        <b-row>
          <b-col cols="3">
            <category-home />
          </b-col>
          <b-col cols="9">
            <slide-home />
          </b-col>
        </b-row>
      </b-container>
      <div class="mt-4">
        <info-box />
      </div>
      <b-container class="bv-example-row bv-example-row-flex-cols">
        <b-row class="mt-4">
          <b-col>
            <product-list v-bind:title="`สินค้าแนะนำ`" />
          </b-col>
        </b-row>
      </b-container>
    </div>
  </Layout>
</template>

<script>
import Layout from "../components/Layout.vue";
import SlideHome from "../components/SlideHome.vue";
import CategoryHome from "../components/CategoryHome.vue";
import ProductList from "../components/ProductList.vue";
import InfoBox from "../components/InfoBox.vue";

export default {
  components: {
    Layout,
    SlideHome,
    CategoryHome,
    ProductList,
    InfoBox
  }
};
</script>

<style lang="scss" scoped>
.page-home {
}
</style>
