<template>
  <div id="category-home" class="category-home">
    <b-card
      header="หมวดหมู่สินค้า"
      header-bg-variant="warning"
      border-variant="warning"
      header-text-variant="white"
      class="text-center category"
    >
      <b-card-text class="text-left">
        <ul class="category">
          <li>
            <a>NOTEBOOK</a>
          </li>
          <li>
            <a>NOTEBOOK ACCESSORIES</a>
          </li>
          <li>
            <a>DESKTOP / AIO / SERVER</a>
          </li>
          <li>
            <a>COMPUTER HARDWARE (DIY)</a>
          </li>
          <li>
            <a>MONITOR</a>
          </li>
          <li>
            <a>SOFTWARE</a>
          </li>
          <li>
            <a>HARD DISK / STORAGE</a>
          </li>
          <li>
            <a>MEMORY / FLASH DRIVE / READER</a>
          </li>
          <li>
            <a>MOUSE / KEYBOARD / PAD</a>
          </li>
          <li>
            <a>CCTV & SECURITY</a>
          </li>
          <li>
            <a>CAMERA / CAPTURE</a>
          </li>
          <li>
            <a>SMARTPHONE & TABLET Acc.</a>
          </li>
        </ul>
      </b-card-text>
    </b-card>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({});
</script>

<style lang="scss" scoped>
html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}
.category-home {
  .card.category {
    border-radius: 0;
    .card-header {
      border-radius: 0;
      font-size: 16px;
      padding: 0.5rem 1.25rem;
    }
    .card-body {
      padding: 10px;
      max-height: 423.267px;
      // height: 100%;
      overflow-y: scroll;
      scrollbar-width: thin;
      scrollbar-color: var(--thumbBG) var(--scrollbarBG);
      &::-webkit-scrollbar {
        width: 9px;
      }
      &::-webkit-scrollbar-track {
        background: var(--scrollbarBG);
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--thumbBG);
        border-radius: 6px;
        border: 3px solid var(--scrollbarBG);
      }
    }
  }
  .category {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      a {
        display: flex;
        align-items: center;
        padding: 0.6rem 1rem;
        border-bottom: 1px solid #e6ebee;
        color: #465157;
        font-size: 14px;
        line-height: 1.5;
        text-decoration: none;
      }
      &:last-of-type {
        a {
          border-bottom: 0;
        }
      }
    }
  }
}
</style>
