<template>
  <div>
    <div class="text-right bars">
      <b-button v-on:click="openNav"><i class="fas fa-bars"></i></b-button>
    </div>
    <div class="menu-3" id="mySidenav">
      <a class="logo">Company</a>
      <a href="javascript:void(0)" class="closebtn" v-on:click="closeNav"
        >&times;</a
      >
      <ul>
        <li><a>หน้าแรก</a></li>
        <li>
          <a v-on:click="openSub(1, 2)" id="menu-tree-12"
            >หมวดหมู่สินค้า <span><i class="fas fa-chevron-up"/></span
          ></a>
          <ul>
            <li>
              <a v-on:click="openSub(2, 1)" id="menu-tree-21"
                >sssss <span><i class="fas fa-chevron-up"/></span
              ></a>
              <ul>
                <li><a>eeeeee</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a v-on:click="openSub(1, 3)" id="menu-tree-13"
            >ช้อปปิ้งออนไลน์ <span><i class="fas fa-chevron-up"/></span
          ></a>
          <ul>
            <li>
              <a v-on:click="openSub(3, 1)" id="menu-tree-31"
                >sssss <span><i class="fas fa-chevron-up"/></span
              ></a>
              <ul>
                <li><a>eeeeee</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a>ดีลเลอร์</a></li>
        <li><a>จัดสเปค</a></li>
        <li><a>บริการช่วยเหลือ</a></li>
        <li><a>ติดต่อเรา</a></li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  data() {
    return {};
  },
  methods: {
    openNav() {
      document.getElementById("mySidenav").style.width = "75%";
      document.getElementById("overlay").classList.add("overlay");
    },
    closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("overlay").classList.remove("overlay");
    },
    openSub(menu1, menu2) {
      const idMenu = "menu-tree-" + menu1 + menu2;
      const ele = document.getElementById(idMenu);
      ele.classList.toggle("open-sub");
    }
  }
});
</script>

<style lang="scss" scoped>
// Desktop display

.menu-3 {
  display: none;
}

.bars {
  display: none;
  button {
    background: transparent;
    border: 0;
    &:focus,
    &:active {
      border: 0;
      outline: none;
    }
  }
}

// Mobile display
@media (max-width: 800px) {
  .bars {
    display: block;
  }
  .menu-3 {
    display: block;
    list-style: none;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #1d1e20; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 80px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    z-index: 1001;
    .logo {
      position: absolute;
      top: 20px;
      left: 14px;
      font-size: 32px;
      color: #ffffff;
      text-decoration: none;
    }
    .closebtn {
      position: absolute;
      top: 20px;
      right: 10px;
      font-size: 32px;
      margin-left: 50px;
      color: #ffffff;
      text-decoration: none;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      transition: 0.3s;
      li {
        white-space: nowrap;
        border-top: 1px solid #393939;
        transition: 0.3s;
        &:last-of-type {
          // border-bottom: 1px solid #393939;
        }
        a {
          position: relative;
          display: block;
          font-size: 14px;
          color: #ffffff;
          padding: 14px 14px;
          text-decoration: none;
          font-size: 16px;
          padding-left: 1rem;
          &.open-sub {
            color: #f83600;
            + ul {
              display: block;
            }
            span {
              transform: rotate(180deg);
            }
          }
          span {
            position: absolute;
            right: 12px;
            transition: 0.3s;
            font-size: 12px;
            top: 16px;
          }
        }
        ul {
          display: none;
          li {
            a {
              padding-left: 2rem;
            }
            ul {
              li {
                a {
                  padding-left: 3rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>
