<template>
  <div class="header">
    <div class="head-sec-1">
      <b-container class="bv-example-row bv-example-row-flex-cols">
        <b-row>
          <b-col cols="6"
            ><i class="fa fa-phone mr-1" /> ติดต่อ 082-999-9999</b-col
          >
          <b-col cols="6" class="text-right">
            <i class="fab fa-facebook ml-1"/>
            <i class="fab fa-line ml-1"></i>
            <i class="fab fa-youtube ml-1"
          /></b-col>
        </b-row>
      </b-container>
    </div>
    <div class="head-sec-2">
      <b-container class="bv-example-row bv-example-row-flex-cols">
        <b-row align-v="center">
          <b-col cols="3">
            <h1 class="logo text-center">Company</h1>
          </b-col>
          <b-col cols="9">
            <div>
              <b-row align-v="center">
                <b-col cols="7">
                  <div class="search">
                    <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
                      <b-input placeholder="ค้นหาสินค้า ประเภทสินค้า แบรนด์" />
                      <b-input-group-append>
                        <b-button variant="warning"
                          ><i class="fas fa-search"></i
                        ></b-button>
                      </b-input-group-append>
                    </b-input-group>
                  </div>
                </b-col>
                <b-col cols="5">
                  <div class="text-right">
                    <ul class="menu-1">
                      <li class="item">
                        <i class="fas fa-cart-plus" /> ตะกร้าสินค้า <b-badge pill variant="info">4</b-badge>
                      </li>
                      <li class="item">
                        <i class="fas fa-user" /> เข้าสู่ระบบ
                      </li>
                    </ul>
                  </div>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-navbar class="menu-2" toggleable="lg">
                    <b-navbar-toggle
                      target="nav-collapse"
                      class="btn-collapse"
                    ></b-navbar-toggle>
                    <b-collapse id="nav-collapse" is-nav>
                      <b-navbar-nav>
                        <b-nav-item href="#">หน้าแรก</b-nav-item>
                        <b-nav-item href="#">ช้อปปิ้งออนไลน์</b-nav-item>
                        <b-nav-item href="#">ดีลเลอร์</b-nav-item>
                        <b-nav-item href="#">จัดสเปค</b-nav-item>
                        <b-nav-item href="#">บริการช่วยเหลือ</b-nav-item>
                        <b-nav-item href="#">ติดต่อเรา</b-nav-item>
                      </b-navbar-nav>
                    </b-collapse>
                  </b-navbar>
                  <header-menu-drawer />
                </b-col>
              </b-row>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Logo from "./Logo.vue";
import HeaderMenuDrawer from "./HeaderMenuDrawer.vue";

export default Vue.extend({
  mounted() {},
  data() {
    return {};
  },
  methods: {},
  components: {
    Logo,
    HeaderMenuDrawer
  }
});
</script>

<style lang="scss" scoped>
// Desktop display
.header {
  .head-sec-1 {
    font-size: 12px;
    padding: 5px 0;
    color: #f4f4f4;
    background-color: #333333;
  }
  // min-height: 60px;
  .head-sec-2 {
    padding: 10px 0;
    background: #fe8c00; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to left,
      #fe8c00,
      #f83600
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      #fe8c00,
      #f83600
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .logo {
      color: #ffffff;
      font-weight: normal;
      font-size: 42px;
      text-transform: uppercase;
      margin: 0;
    }
    .search {
      input {
        &::placeholder {
          font-size: 14px;
        }
      }
      button {
        color: #ffffff;
      }
    }
    .menu-1 {
      margin: 0 auto;
      list-style: none;
      .item {
        display: inline-block;
        // flex: 1;
        color: #ffffff;
        padding-left: 16px;
        i {
          margin-right: 6px;
        }
      }
    }
    .menu-2 {
      background-color: transparent;
      padding: 0;
      ul {
        width: 100%;
        text-align: justify !important;
        li {
          display: inline-block;
          a {
            color: #ffffff;
            padding-bottom: 0;
            padding-right: 2rem;
            &:focus {
              color: #ffffff !important;
            }
          }
          &:first-of-type {
            a {
              padding-left: 0;
            }
          }
          &:hover,
          &:active,
          &:visited {
            a {
              color: #ffffff;
              opacity: 0.9;
            }
          }
        }
      }
    }
  }
}

// Mobile display
@media (max-width: 800px) {
  .header {
    .head-sec-1 {
      display: none;
    }
    .head-sec-2 {
      .logo {
        font-size: 28px;
      }
      .search,
      .menu-1,
      .menu-2 {
        display: none;
      }
    }
  }
}
</style>
