<template>
  <div class="info-boxes-container">
    <div class="container">
      <div class="info-box">
        <i class="fas fa-shipping-fast"></i>
        <div class="info-box-content">
          <h4>จัดส่งฟรี &amp; ประกัน</h4>
          <p>ฟรีค่าจัดส่งเมื่อสั่งสินค้าครบ 500 บาท</p>
        </div>
      </div>
      <div class="info-box">
        <i class="fas fa-comment-dollar"></i>
        <div class="info-box-content">
          <h4>คืนเงิน</h4>
          <p>คืนเงิน 100% เมื่อสินค้ามีปัญหาตามเงื่อนไข</p>
        </div>
      </div>
      <div class="info-box">
        <i class="fas fa-clock"></i>
        <div class="info-box-content">
          <h4>ออนไลน์ตลอด 24 ชม.</h4>
          <p>มีปัญหาติดต่อเราได้ตลอดเวลา</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({});
</script>

<style lang="scss" scoped>
.info-boxes-container {
  // margin-bottom: 2.7rem;
  background-color: #f4f4f4;
  .container {
    display: flex;
    padding: 0;
    .info-box {
      display: flex;
      flex: 0 0 33.33%;
      max-width: 33.33%;
      align-items: center;
      width: 100%;
      padding: 1rem 1.5rem;
      color: #839199;
      justify-content: center;
      &:first-child {
        justify-content: flex-start;
      }
      i {
        min-width: 3.5rem;
        margin-right: 1.5rem;
        color: #465157;
        font-size: 2.5rem;
        text-align: center;
        // font-size: 16px;
      }
      h4 {
        margin-bottom: 0.2rem;
        color: #465157;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        font-size: 14px;
      }
      p {
        margin-bottom: 0;
        font-size: 1.3rem;
        font-weight: normal;
        letter-spacing: 0.01rem;
        line-height: 1.6;
        font-size: 12px;
      }
    }
  }
}
</style>
