<template>
  <div id="main">
    <div id="overlay" />
    <header>
      <header-menu />
    </header>
    <main class="layout-main">
      <slot />
    </main>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import HeaderMenu from "./HeaderMenu.vue";
export default Vue.extend({
  components: {
    HeaderMenu
  }
});
</script>

<style lang="scss" scoped></style>
