<template>
  <div class="product-list">
    <div class="title-head">
      <h3>{{ title }}</h3>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  props: ["title"]
});
</script>

<style lang="scss" scoped>
.product-list {
  .title-head {
    h3 {
      font-size: 1.5rem;
    }
  }
}
</style>
