<template>
  <div id="slide-home" class="slide-home">
    <b-carousel
      id="carousel-1"
      class="carousel-1"
      v-model="slide"
      :interval="4000"
      controls
      indicators
      background="#ababab"
      style="text-shadow: 1px 1px 2px #333;"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <b-carousel-slide
        class="img-fix"
        img-src="/images/1641.jpg"
      ></b-carousel-slide>
      <b-carousel-slide
        class="img-fix"
        img-src="/images/1837.jpg"
      ></b-carousel-slide>
      <b-carousel-slide
        class="img-fix"
        img-src="/images/1877.jpg"
      ></b-carousel-slide>
      <b-carousel-slide
        class="img-fix"
        img-src="/images/1916.jpg"
      ></b-carousel-slide>
      <b-carousel-slide
        class="img-fix"
        img-src="/images/128.jpg"
      ></b-carousel-slide>
    </b-carousel>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  data() {
    return {
      slide: 0,
      sliding: null
    };
  },
  methods: {
    onSlideStart(slide) {
      this.sliding = true;
    },
    onSlideEnd(slide) {
      this.sliding = false;
    }
  }
});
</script>

<style lang="scss" scoped>
// .img-fix {
//   img {
//     max-height: 423.267px !important;
//   }
// }
</style>
